language: node_js
node_js:
  - "5"
  - "5.1"
  - "4"
  - "4.2"
  - "4.1"
  - "4.0"
  - "0.12"
  - "0.11"
  - "0.10"
  - "iojs"
matrix:
  fast_finish: true
  allow_failures:
    - node_js: 5
    - node_js: 5.1
    - node_js: 4
    - node_js: 4.2
    - node_js: 4.1
    - node_js: 4.0
    - node_js: 0.12
    - node_js: 0.11
    - node_js: iojs
before_install:
  - gem install bundler
install:
  - bundle install
  - npm install -g gulp
  - npm install bower -g
  - npm install kss -g
  - npm run setup
script:
  - gulp css
  - gulp js
  - gulp images
  - gulp fonts
  - gulp scss-lint
  - gulp js-lint
  - gulp kss
