.media-youtube-video {
      float: none;
      clear: both;
      max-width: 100%;
      position: relative;
      padding-bottom: 56.25%;
      padding-top: 25px;
      height: 0;
}
.media-youtube-video iframe {
      position: absolute;
      top: 0;
      left: 0;
      max-width: 100%;
      max-height: 100%;
}
