// Special styles used specificially for vih.dk
//
// Styleguide 8

$opacity: 0.7;

body {
  background: green;
  background-image: image-url("background/soccerfield2.jpg");
}

.sidebar-slide {
  .views-field-title {
    @include picture-button-opaque(-70px, 134px);
  }
}

.teachers {
  .views-field-title {
    width: 100%;
    max-width: 145px;
    @include picture-button-opaque(-70px);
  }
}

.subjects-page {
  .views-field-title {
    width: 100%;
    max-width: 145px;
    @include picture-button-opaque(-60px);
  }
}

.travel .views-field-title {
  width: 100%;
  max-width: 145px;
  @include picture-button-opaque(-140px, 135px, 16px);
}

.subject-packages .views-field-name {
  @include picture-button(-90px, 1.2em);
}

.short-course-types .views-field-name {
  @include picture-button(-55px);
}

.faciliteter .views-field-title {
  @include picture-button(-55px);
}

.navbar-default {
  background: transparent !important;
  border: transparent !important;

  a {
    color: white;
  }
}

.media {
  margin-bottom: 1em;
}

// Commerce integration
//
// Some additional styles for the commerce integration
//
// Markup:
// <div class="alert alert-commerce-add-to-cart-confirmation alert-dismissable">
//   <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
//   <div class="well well-lg">
//     <p>En person blev tilføjet til tilmeldingen.</p>
//     <div class="btn">
//       <a href="/checkout" class="btn btn-success btn-lg pull-left" role="button">Gå til betaling</a>
//       <a href="#edit-line-item-fields" class="btn btn-default btn-lg pull-right" role="button">Tilmeld flere</a>
//     </div>
//   </div>
// </div>
//
// Styleguide 8.3
div.alert-commerce-add-to-cart-confirmation {
  div.btn {
    padding-left: 0;
    margin-left: 0;
  }
  a {
    margin-right: 1em;
  }
  ul {
    list-style-type: none;
    padding: 0;
  }
  ul li:nth-of-type(1n+2) {
    display: none;
  }
}

// Short courses
//
// Some additional styles for the short courses.
form.commerce-add-to-cart {
  .views-table {
    margin-top: 1em;
  }
}

.field-name-commerce-price .price-amount {
  font-size: 2em;
}

.commerce-price-savings-formatter-prices td {
  background: transparent !important;
  border-color: transparent !important;
}

.field-name-field-pictures {
  @include clearfix;
  margin-bottom: 1em;
  .colorbox {
    margin-right: 8px;
    float: left;
  }
}

.teacher-context, .student-quotes {
  div.media {
    @include clearfix;
    img {
      float: left;
      margin-right: 1em;
      margin-bottom: 1em;
    }
  }
}

// Style for the date
//
// Add sufficient space under the time for the course.
//
// TODO: Should probably be done with a more global solution.
//
// Styleguide 9.0
.field-name-field-course-time  {
  margin-top: 1em;
  margin-bottom: 1em;
}

// Style for the date field on the lectures
//
// Markup:
// <div class="field-item even">
//   <span class="date-display-single">Tirsdag, november 24, 2015 - 
//     <div class="date-display-range">
//       <span class="date-display-start">19:00</span> til <span class="date-display-end">20:30</span>
//     </div>
//   </span>
// </div>
//
// Styleguide 9.1

div.date-display-range {
  display: inline;
}

.pane-content {
  margin-bottom: 1em;
}

.field img.panopoly-image-spotlight {
  width: 100%;
}

.field-type-image,
.media-element {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.field-name-field-vih-schedule iframe {
  display: block;
  width: 100%;
  margin-bottom: 5px;
}

.l-highlighted {
  @include pie-clearfix;
  h2 {
    font-size: 18px;
  }
}

a.pdf-reader-download-link {
  display: block;
}
