// Layout
//
// Styleguide 1

$fade-percent: 18%;
$shadow-color: #000;

.l-highlighted {
  background: $body-bg;
  display: none;
  @media (min-width: 992px) {
    margin-top: -110px;
    z-index: 120;
    display: block;
    border-left: 5px solid $brand-primary;
    border-bottom: 5px solid $brand-primary;
    border-right: 5px solid $brand-primary;
    @include border-bottom-radius(10px);
    @include box-shadow($shadow-color 5px 5px 5px);
  }
}

.l-wrapper {
  background: $body-bg;
  position: relative;
  @media (min-width: 992px) {
    margin-top: 100px;
    margin-bottom: 20px;
    @include border-bottom-right-radius(40px);
    @include border-top-left-radius(40px);
    @include box-shadow($shadow-color 5px 5px 5px);
  }
}

.l-header {
  @media (max-width: 991px) {
    a {
      display: none;
    }
  }
  @media (min-width: 992px) {
    padding: 20px;
    a {
      @include replace-text-with-dimensions("logo.gif");
    }
  }
}

.l-navigation {
  background: $brand-primary;
  @media (min-width: 992px) {
    #main-menu {
       margin-top: 40px !important;
    }
    @include border-top-left-radius(30px);
    @include background-image(linear-gradient($brand-primary, darken($brand-primary, $fade_percent)));
    .navbar-brand {
      display: none;
    }
    a {
      font-weight: bold;
      &:hover {
        background: transparent !important;
      }
    }
  }
}

.l-sidebar {
  background: $brand-primary;
  color: white;
  padding-top: 1em;
  padding-bottom: 1em;
  @media (min-width: 992px) {
    padding-top: 40px;
    @include border-bottom-right-radius(30px);
    @include background-image(linear-gradient($brand-primary, darken($brand-primary, $fade_percent)));
  }
  h2 {
    color: white;
    font-size: 1.2em;
  }
  a {
    color: white;
    &:hover {
      text-decoration: underline;
    }
  }
  blockquote {
    font-size: 1em;
    border-left: $brand-success;
  }
}

.l-footer {
  padding-bottom: 20px;
}

// Columns of same height styles
//
// @link http://www.minimit.com/articles/solutions-tutorials/bootstrap-3-responsive-columns-of-same-height
//
// <div class="container container-xs-height">
//   <div class="row row-xs-height">
//     <div class="col-xs-6 col-xs-height">Testing</div>
//     <div class="col-xs-3 col-xs-height">Testing<br>Testing</div>
//     <div class="col-xs-2 col-xs-height">Testing</div>
//     <div class="col-xs-1 col-xs-height">Testing<br>Testing</div>
//   </div>
// </div>
//
// Styleguide 1.1
.container-xs-height {
  display:table;
  padding-left:0px;
  padding-right:0px;
}
.row-xs-height {
  display:table-row;
}
.col-xs-height {
  display:table-cell;
  float:none;
  vertical-align: top;
}
@media (min-width: 768px) {
  .container-sm-height {
    display:table;
    padding-left:0px;
    padding-right:0px;
  }
  .row-sm-height {
    display:table-row;
  }
  .col-sm-height {
    display:table-cell;
    float:none;
    vertical-align: top;
  }
}
@media (min-width: 992px) {
  .container-md-height {
    display:table;
    padding-left:0px;
    padding-right:0px;
  }
  .row-md-height {
    display:table-row;
  }
  .col-md-height {
    display:table-cell;
    float:none;
    vertical-align: top;
  }
}
@media (min-width: 1200px) {
  .container-lg-height {
    display:table;
    padding-left:0px;
    padding-right:0px;
  }
  .row-lg-height {
    display:table-row;
  }
  .col-lg-height {
    display:table-cell;
    float:none;
    vertical-align: top;
  }
}

// Adjust grid for 15 columns
//
// We have five packages, so need a 5 column grid on the frontpage
//
// @link http://www.wearesicc.com/quick-tips-5-column-layout-with-twitter-bootstrap/
//
// Markup:
// <div class="row">
//   <div class="col-md-15 col-md-3 col-xs-15 col-xs-5 col-1 col-first">
//     <div class="views-field views-field-field-tags-picture">
//       <div class="field-content">
//         <a href="#">
//           <img class="subject-packages-frontpage" src="http://placehold.it/145x400" width="145" height="400" />
//         </a>
//       </div>
//     </div>
//     <div class="views-field views-field-name">
//       <span class="field-content">
//         <a href="#">
//           <strong>Subject</strong>
//         </a>
//       </span>
//     </div>
//   </div>
//   <div class="col-md-15 col-md-3 col-xs-15 col-xs-5 col-1 col-first">
//     <div class="views-field views-field-field-tags-picture">
//       <div class="field-content">
//         <a href="#">
//           <img class="subject-packages-frontpage" src="http://placehold.it/145x400" width="145" height="400" />
//         </a>
//       </div>
//     </div>
//     <div class="views-field views-field-name">
//       <span class="field-content">
//         <a href="#">
//           <strong>Subject</strong>
//         </a>
//       </span>
//     </div>
//   </div>
//   <div class="col-md-15 col-md-3 col-xs-15 col-xs-5 col-1 col-first">
//     <div class="views-field views-field-field-tags-picture">
//       <div class="field-content">
//         <a href="#">
//           <img class="subject-packages-frontpage" src="http://placehold.it/145x400" width="145" height="400" />
//         </a>
//       </div>
//     </div>
//     <div class="views-field views-field-name">
//       <span class="field-content">
//         <a href="#">
//           <strong>Subject</strong>
//         </a>
//       </span>
//     </div>
//   </div>
//   <div class="col-md-15 col-md-3 col-xs-15 col-xs-5 col-1 col-first">
//     <div class="views-field views-field-field-tags-picture">
//       <div class="field-content">
//         <a href="#">
//           <img class="subject-packages-frontpage" src="http://placehold.it/145x400" width="145" height="400" />
//         </a>
//       </div>
//     </div>
//     <div class="views-field views-field-name">
//       <span class="field-content">
//         <a href="#">
//           <strong>Subject</strong>
//         </a>
//       </span>
//     </div>
//   </div>
//   <div class="col-md-15 col-md-3 col-xs-15 col-xs-5 col-1 col-first">
//     <div class="views-field views-field-field-tags-picture">
//       <div class="field-content">
//         <a href="#">
//           <img class="subject-packages-frontpage" src="http://placehold.it/145x400" width="145" height="400" />
//         </a>
//       </div>
//     </div>
//     <div class="views-field views-field-name">
//       <span class="field-content">
//         <a href="#">
//           <strong>Subject</strong>
//         </a>
//       </span>
//     </div>
//   </div>
// </div>
//
// Styleguide 1.2
.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
}

.col-xs-15 {
  width: 20%;
  float: left;
}
@media (min-width: 768px) {
  .col-sm-15 {
    width: 20%;
    float: left;
  }
}
@media (min-width: 992px) {
  .col-md-15 {
    width: 20%;
    float: left;
  }
}
@media (min-width: 1200px) {
  .col-lg-15 {
    width: 20%;
    float: left;
  }
}
