// Menu
// Styles for Menus and Navs
// --------------------------------------------------

#main-menu {
  text-transform: uppercase;
  .dropdown-menu {
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    box-shadow: none;
    position: relative;
    width: 100%;
    float: none;
    a {
      color: $gray-light;
    }
  }
  > li.active {
    .dropdown-menu {
      display: block;
      > li {
        > a {
          white-space: normal;
        }
      }
    }
  }
}
