// Menu
// Styles for Menus and Navs
// --------------------------------------------------

#main-menu {
  text-transform: uppercase;
  > li.active {
    .dropdown-menu {
      display: block;
      float: none;
      position: relative;
    }
  }
}
