// VIH Plugins
//
// Stying used for panels styles plugins provided by VIH Plugins module
//
// .alternate - be different from the background
// .emphasis - emphasis on the div
// .jumbotron - emphasis on the div
// .boxed - put a box around the div
// .call-to-action-block - make any links in the pane into a cta button
// .quote - style the image div as a quote
//
// Styleguide 7.0.0

$border-radius: 6px;

// Highlight pane style for text widgets.
// Default styles for the box.
.pane-style-box {
  @include border-radius($border-radius);
  @include clearfix;
  margin-top: 1em;
  margin-bottom: 1em;
  a {
    color: black;
    text-transform: underline;
  }
}

// Minor difference in color to the content background.
.alternate {
  @extend .pane-style-box;
  background: #ddd;
  padding: 1em;
}

// Larger padding than the other styles - similar to alternate.
.jumbotron {
  @extend .pane-style-box;
  background: #ddd;
  padding: 2em;
  h2 {
    font-size: 2em;
  }
}

// Visible box with color and text change.
.boxed {
  @extend .pane-style-box;
  background: #6595a9;
  padding: 2em;
  color: white;
  a {
    color: white;
  }
}

// Major emphasis by color and text change.
div.emphasis {
  @extend .pane-style-box;
  background: #fead42;
  padding: 1.5em;
  text-align: center;
  p {
    font-size: 1.3em;
    text-align: center;
  }
  h2.pane-title {
    text-transform: uppercase;
    font-size: 2em;
    text-align: center;
    font-weight: bold;
    a {
      color: black;
      text-transform: underline;
    }
  }
  a {
    color: black;
  }
}

.pane-bundle-image h2 {
  @include picture-button(25px, 2em);
}

// Render text widget as a call to action block.
.call-to-action-block {
  text-align: center;
  background: black;
  color: white;
  padding: 2em;
  text-transform: uppercase;
  h2 {
    font-size: 1.8em;
  }
  h3 {
    font-size: 1.6em;
  }
  h4 {
    font-size: 1.4em;
  }
  p {
    font-size: 1.2em;
  }
  margin-bottom: 1em;
  a {
    @extend .btn;
    @extend .btn-lg;
    background: orange;
    color: white;
  }
}

// Render image widget as a quote.
.quote {
  @extend .pane-style-box;
  border: 2px solid #ddd;
  padding: 3em;

  img {
    float: left;
    margin-right: 20px;
    vertical-align: center;
  }
  .caption {
    padding-top: 1.5em;
    padding-right: 30px;
    background: image-url("blockquote.png") top right no-repeat;
  }
}

// Render links widget as buttons.
.btn-links {
  @include clearfix;
  margin-top: 1em;
  margin-bottom: 1em;
  ul {
    margin-left: 0;
    padding-left: 0;
    list-style-type: none;
  }
  li {
    display: inline;
    margin-right: 1em;
    padding-left: 0;
  }
  li a {
    @extend .btn;
    @extend .btn-success;
    @extend .btn-lg;
  }
}
