// VIH Plugins
//
// Stying used for panels styles plugins provided by VIH Plugins module
//
// Styleguide 7

// Highlighted boxes for panes
//
// These can be used for both panes and regions.
//
// .alternate - be different from the background
// .emphasis - emphasis on the div
// .jumbotron - emphasis on the div
// .boxed - put a box around the div
// .inverted - invert the colors
//
// Markup:
// <div class="{$modifiers}">
//   <h3>Tester hvordan det ser ud</h3>
//   <div class="fieldable-panels-pane">
//     <div class="field field-name-field-basic-text-text field-type-text-long field-label-hidden">
//       <div class="field-items">
//         <div class="field-item even">
//           <p>Tester ksdfs sdfkds kslf sdlkf afdksl fjsdalkf djlkasfjdsklf jlskafj sdlfk sdlkafjd lkfjsdakl jfsdklfj kldajf kldsjfkl jdasfkl jdfklj saklfj dklsaf j.</p>
//           <p><a href="node/1">Book nu</a></p>
//         </div>
//       </div>
//     </div>
//   </div>
// </div>
//
// Styleguide 7.1

$border-radius: 6px;

// Highlight pane style for text widgets.
.pane-style-box {
  @include border-radius($border-radius);
  @include clearfix;
  margin-top: 1em;
  margin-bottom: 1em;
  a {
    color: black;
    text-transform: underline;
  }
}

// Minor difference in color to the content background.
.alternate {
  @extend .pane-style-box;
  background: #ddd;
  padding: 1em;
  &.cta-button .pane-content a {
    @extend .btn;
    @extend .btn-lg;
    background: orange;
    color: white;
  }
}

// Larger padding than the other styles - similar to alternate.
.jumbotron {
  @extend .pane-style-box;
  background: #ddd;
  padding: 2em;
  h2 {
    font-size: 2em;
  }
  &.cta-button .pane-content a {
    @extend .btn;
    @extend .btn-lg;
    background: orange;
    color: white;
  }
}

// Visible box with color and text change.
.boxed {
  @extend .pane-style-box;
  background: #6595a9;
  padding: 2em;
  color: white;
  a {
    color: white;
  }
  &.cta-button .pane-content a {
    @extend .btn;
    @extend .btn-lg;
    background: white;
    color: #6595a9;
  }
}

// Major emphasis by color and text change.
div.emphasis {
  @extend .pane-style-box;
  background: #fead42;
  padding: 1.5em;
  text-align: center;
  p {
    font-size: 1.3em;
    text-align: center;
  }
  h2.pane-title {
    text-transform: uppercase;
    font-size: 2em;
    text-align: center;
    font-weight: bold;
    a {
      color: black;
      text-transform: underline;
    }
  }
  a {
    color: black;
  }
  &.cta-button .pane-content a {
    @extend .btn;
    @extend .btn-lg;
    background: black;
    color: white;
  }
}

.pane-bundle-image h2 {
  @include picture-button(25px, 2em);
}

// Render text widget as a call to action block.
//
// This is mainly meant for use with text widgets.
//
// Markup:
// <div class="call-to-action-block">
//   <h3>Tester hvordan det ser ud</h3>
//   <div class="fieldable-panels-pane">
//     <div class="field field-name-field-basic-text-text field-type-text-long field-label-hidden">
//       <div class="field-items">
//         <div class="field-item even">
//           <p>Tester ksdfs sdfkds kslf sdlkf afdksl fjsdalkf djlkasfjdsklf jlskafj sdlfk sdlkafjd lkfjsdakl jfsdklfj kldajf kldsjfkl jdasfkl jdfklj saklfj dklsaf j.</p>
//           <p><a href="node/1">Book nu</a></p>
//         </div>
//       </div>
//     </div>
//   </div>
// </div>
//
// Styleguide 7.2
.inverted {
  text-align: center;
  background: black;
  color: white;
  padding: 2em;
  text-transform: uppercase;
  h2 {
    font-size: 1.8em;
  }
  h3 {
    font-size: 1.6em;
  }
  h4 {
    font-size: 1.4em;
  }
  p {
    font-size: 1.2em;
  }
  margin-bottom: 1em;
  &.cta-button .pane-content a {
    @extend .btn;
    @extend .btn-lg;
    background: orange;
    color: white;
  }
}

// Render image widget as a quote.
//
// .testimonial - style the image div as a testimonial
// .contact - style image as a reach out for contact
//
// Markup:
// <div class="{$modifiers} clearfix">
//   <span class="helper"></span>
//   <img src="http://placehold.it/200x300" />
//   <div class="caption">
//     <p>Jeg har faktisk rigtig meget fedt at sige om skolen, men jeg skal bare lige have det sagt på en ordentlig måde, så alle kan forstå det.</p>
//     <p style="text-align:right">- Svend Brinkman</p>
//   </div>
// </div>
//
// Styleguide 7.3
.testimonial {
  @extend .pane-style-box;
  border: 2px solid #ddd;
  padding: 3em;

  img {
    float: left;
    margin-right: 20px;
    vertical-align: center;
  }
  .caption {
    padding-top: 1.5em;
    padding-right: 30px;
    background: image-url("blockquote.png") top right no-repeat;
  }
}

.contact {
  @extend .pane-style-box;
  background: #ddd;
  padding: 3em;

  img {
    float: right;
    margin-left: 20px;
    vertical-align: center;
  }
  .caption {
    padding-top: 1.5em;
  }
}

// Render links widget as buttons.
//
// Markup:
// <div class="btn-links">
//   <div class="fieldable-panels-pane">
//     <div class="item-list">
//       <ul>
//         <li class="first"><a href="#">Tester</a></li>
//         <li class="last"><a href="#">TEste </a></li>
//       </ul>
//     </div>
//   </div>
// </div>
//
// Styleguide 7.4
.btn-links {
  @include clearfix;
  margin-top: 1em;
  margin-bottom: 1em;
  ul {
    margin-left: 0;
    padding-left: 0;
    list-style-type: none;
  }
  li {
    display: inline;
    margin-right: 1em;
    padding-left: 0;
  }
  li a {
    @extend .btn;
    @extend .btn-success;
    @extend .btn-lg;
  }
}
