// Scroll to top
//
// Small link to go back to top from the bottom.
.scroll-to-top {
  position: fixed;
  background: image-url('scroll-to-top.png') no-repeat;
  cursor: pointer;
  width: 55px;
  height: 55px;
  bottom: 1em;
  right: 2em;
  padding-right: 2em;
  display: none;
  z-index: 999;
  a {
    display: none;
  }
}