// Tables
//
// For basic styling—light padding and only horizontal dividers—add the base class `.table` to any `<table>`.
//
// Styleguide 4

// Table styles
//
// Add any of the following classes to the `.table` base class.
//
// .table-striped   - Adds zebra-striping to any table row within the `<tbody>` via the `:nth-child` CSS selector (not available in IE7-8).
// .table-bordered  - Add borders and rounded corners to the table.
// .table-hover     - Enable a hover state on table rows within a `<tbody>`.
// .table-condensed - Makes tables more compact by cutting cell padding in half.
//
// Markup:
// <table class="table {$modifiers}">
//   <thead>
//     <tr>
//       <th>#</th>
//       <th>First Name</th>
//       <th>Last Name</th>
//       <th>Username</th>
//     </tr>
//   </thead>
//   <tbody>
//     <tr>
//       <td>1</td>
//       <td>Mark</td>
//       <td>Otto</td>
//       <td>@mdo</td>
//     </tr>
//     <tr>
//       <td>2</td>
//       <td>Jacob</td>
//       <td>Thornton</td>
//       <td>@fat</td>
//     </tr>
//     <tr>
//       <td>3</td>
//       <td>Larry</td>
//       <td>the Bird</td>
//       <td>@twitter</td>
//     </tr>
//   </tbody>
// </table>
//
// Styleguide 4.1
