//
// Styles for Views
// --------------------------------------------------

.views-view-grid .row {
  margin-bottom: 1em;
}

// Lange Kurser
// --------------------------------------------------
.view-lange-kurser,
.view-short-courses,
.view-vih-lectures {
  .media-left {
    width: 200px;
    height: 200px;
    img {
      width: 100%;
      height: auto;
    }
  }
  .media-body {
    vertical-align: middle;
    width: auto;
  }
}